<ng-container [formGroup]="form">
    
    <input #autoInput
    nbInput
    [class]="class"
    formControlName="formInput"
    [placeholder]="placeholder"
    type="text"
    [nbAutocomplete]="auto"
    focusInputOnValueChange="false"
    (input)="onChange()"
    (blur)="onTouched()">
    
    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)" >
        <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option }}
        </nb-option>
    </nb-autocomplete>
</ng-container>