<h1 class="text-center my-4"> {{ "COMPANY.RESTAURANT.ORDERS.HEADING" | translate }}</h1>
<!-- https://swimlane.gitbook.io/ngx-datatable/api/table/inputs -->
<ngx-datatable [rows]="rows" [count]="count" [loadingIndicator]="isLoading" columnMode="flex" class="material">
    <ngx-datatable-column prop="orderNumber" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.ORDER_NUMBER' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="orderStatus" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.STATUS' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="delivery_deliveryType" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.DELIVERY_TYPE' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="delivery_deliveryDate" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.DELIVERY_DATE' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="delivery_deliveryFrom" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.DELIVERY_TIME_INTERNVAL' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="customer" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.CUSTOMER' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="address_street" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.DELIVERY_ADDRESS' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="contactPhone" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.CONTACT_PHONE' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="orderPrice" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.TOTAL_PRICE' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="payment_paymentStatus" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.PAYMENT_STATUS' | translate"></ngx-datatable-column>
    <ngx-datatable-column prop="actions" [name]="'COMPANY.RESTAURANT.ORDERS.TABLE.ACTIONS' | translate"></ngx-datatable-column>
</ngx-datatable>