<nb-card>
    <nb-card-body>
        <div class="p-2">
            <nb-stepper orientation="horizontal">
                <nb-step [label]="'REGISTRATION.CONTACT_INFO' | translate">
                    <h1>{{'REGISTRATION.CONTACT_INFO.HEADER' | translate}}</h1>
                    <form [formGroup]="contactInfo" class="grid grid-columns-50-50 grid-col-gap-1 grid-row-gap-1">
                        <input nbInput fullWidth fieldSize="large" formControlName="restaurantName" required class="grid-span-2-cols" [placeholder]="'REGISTRATION.RESTAURANT_NAME' | translate">
                        <input nbInput fieldSize="large" formControlName="restaurantPhone" required class="w100" [placeholder]="'REGISTRATION.RESTAURANT_PHONE' | translate">
                        <input nbInput fieldSize="large" formControlName="restaurantEmail" required class="w100" [placeholder]="'REGISTRATION.RESTAURANT_EMAIL' | translate">
                        <input nbInput fieldSize="large" formControlName="country" required class="w100" [placeholder]="'REGISTRATION.COUNTRY' | translate">
                        <input nbInput fieldSize="large" formControlName="state" required class="w100" [placeholder]="'REGISTRATION.STATE' | translate">
                        <input nbInput fieldSize="large" formControlName="city" required class="w100" [placeholder]="'REGISTRATION.CITY' | translate">
                        <input nbInput fieldSize="large" formControlName="zip" required class="w100" [placeholder]="'REGISTRATION.ZIP' | translate">
                        <input nbInput fieldSize="large" formControlName="street" required class="w100" [placeholder]="'REGISTRATION.STREET' | translate">
                    </form>
                    <div class="w-100 grid my-1">
                        <button nbButton nbStepperNext status="primary">{{"BUTTON.NEXT" | translate}}</button>
                    </div>
                    
                </nb-step>
                <nb-step [label]="'REGISTRATION.OPENING_HOURS' | translate">
                    <h1>{{'REGISTRATION.OPENING_HOURS.HEADER' | translate}}</h1>
                    <form [formGroup]="openingHours">
                        <div *ngFor="let dayName of days" class="grid grid-columns-50-50 my-1">
                            <h3>{{valueMap.get(dayName).translationId | translate}}</h3>
                            <div>
                                <div class="grid grid-columns-50-50 grid-gap-1">
                                    <label [for]="'from'">{{'OPENING_HOURS.FROM' | translate}}</label>
                                    <label for="to">{{'OPENING_HOURS.TO' | translate}}</label>
                                </div>
                                <div class="grid grid-gap-1">
                                    <div *ngFor="let dayControl of valueMap.get(dayName).control.controls; index as i" class="grid grid-columns-50-50 grid-gap-1">
                                        <input nbInput type="time" class="w100" [formControl]="dayControl.controls.from" [placeholder]="'OPENING_HOURS.FROM' | translate">
                                        <input nbInput type="time" class="w100" [formControl]="dayControl.controls.to" [placeholder]="'OPENING_HOURS.TO' | translate">
                                    </div>
                                </div>
                                <button nbButton class="w100 my-1" (click)="addRange(dayName)">{{ "BUTTON.ADD_RANGE" | translate}}</button>
                            </div>
                        </div>
                        <textarea nbInput fullWidth formControlName="info" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.OPENING_HOURS.LABEL.NOTE'|translate"></textarea>
                    </form>
                    <div class="grid grid-columns-50-50 grid-gap-1 my-1">
                        <button nbButton nbStepperPrevious>{{"BUTTON.PREVIOUS" | translate}}</button>
                        <button nbButton nbStepperNext status="primary">{{"BUTTON.NEXT" | translate}}</button>
                    </div>
                </nb-step>
                <nb-step [label]="'REGISTRATION.REVIEW' | translate">
                    <h1>{{'REGISTRATION.REVIEW.HEADER' | translate}}</h1>
                    <div class="grid grid-columns-50-50">
                        <section>
                            <h2>{{ 'REGISTRATION.REVIEW.CONTACT_INFO' | translate}}</h2>
                            <h3>{{ contactInfoValues.restaurantName }}</h3>
                            <div>{{ contactInfoValues.restaurantPhone }}</div>
                            <div>{{ contactInfoValues.restaurantEmail }}</div>
                            <div>{{ contactInfoValues.street }}</div>
                            <div>{{ contactInfoValues.zip }}, {{ contactInfoValues.city }}</div>
                            <div>{{ contactInfoValues.state }}, {{ contactInfoValues.country }}</div>
                        </section>
                        <section>
                            <h2>{{ 'REGISTRATION.REVIEW.OPENING_HOURS' | translate}}</h2>
        
                            <div class="w-100 row" *ngFor="let dayName of days">
                                <h3>{{valueMap.get(dayName).translationId | translate}}</h3>
                                <div *ngIf="isOpened(dayName)">
                                    {{ "OPENING_HOURS.CLOSED" | translate }}
                                </div>
                                <div>
                                    <div *ngFor="let times of getOpeningHours(dayName)">
                                        {{ times.val || (times.status | translate) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="grid grid-columns-50-50 grid-gap-1 my-1">
                        <button nbButton nbStepperPrevious class="w-100">{{"BUTTON.PREVIOUS" | translate}}</button>
                        <button nbButton status="primary" class="w-100" [attr.disabled]="!isLoadaded ? 'disabled' : null" (click)="createRestaurant()">{{ "BUTTON.CONFIRM" | translate }}</button>
                    </div>
                </nb-step>
            </nb-stepper>
            <div class="px-1 grid w-100">
                <button nbButton class="w-100" [attr.disabled]="!isLoadaded ? 'disabled' : null" (click)="createEmptyRestaurant()">{{"BUTTON.SKIP_FOR_NOW" | translate}}</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
