<nb-layout>

  <nb-layout-header fixed>
    <img class="logo m-1" src="/assets/logo.svg" alt="logo">
    iFoodOrder
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-sidebar *ngIf="isSidebarVisible">
    <div class="w-100 grid grid-gap-1">
      <button nbButton *ngFor="let item of items" [routerLink]="item.link">{{item.display | translate}}</button>
    </div>
  </nb-sidebar>
  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
