<h1>Dev dashboard</h1>
<button nbButton routerLink="/customer">Customer</button>
<button nbButton routerLink="/company/registration">Company registration</button>
<button nbButton routerLink="/company/login">Company login</button>