<h1>{{"COMPANY.RESTAURANT.MENU_BUILDER.TITLE"|translate}}</h1>
<div class="grid grid-colums-1-3 grid-gap-1 grid-align-items-start">
    <nb-card class="sticky top-7">
        <nb-card-header>{{"COMPANY.RESTAURANT.MENU_BUILDER.CATEGORIES"|translate}}</nb-card-header>
        <nb-card-body class="grid grid-gap-1">
            <button nbButton *ngFor="let category of categoryNames; let categoryIndex = index" (click)="scroll('category'+categoryIndex)" mat-button>{{category}}</button>
          <!-- TODO: categories -->
        </nb-card-body>
        <nb-card-footer class="grid grid-gap-1">
            <button nbButton><nb-icon icon="plus-outline"></nb-icon></button>
        </nb-card-footer>
    </nb-card >
    <nb-card class="w100">
        <nb-card-body class="grid grid-gap-2" [formGroup]="menu">
            <div class="grid grid-colums-11-1 grid-gap-1">
                <input nbInput type="text" class="w100" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.TITLE'|translate" formControlName="title">
                <button nbButton *ngIf="!menu.controls['enabled'].value" (click)="menuActivationToggle()"><nb-icon icon="eye-off-outline"></nb-icon></button>
                <button nbButton *ngIf="menu.controls['enabled'].value" (click)="menuActivationToggle()"><nb-icon icon="eye-outline"></nb-icon></button>
            </div>
            <textarea nbInput class="w100" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.INFORMATION' | translate" formControlName="description"></textarea>
            <div *ngFor="let category of categories; let categoryIndex = index" [formGroupName]="categoryIndex">
                <span [id]="'category'+categoryIndex"></span>
                <div [formGroup]="category"  class="grid grid-gap-1">
                    <div class="grid grid-columns-10-1-1-1 grid-gap-1">
                        <input nbInput type="text" class="w100" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.CATEGORY' | translate" formControlName="name">
                        <!-- TODO: autocomplete -->
                        <button nbButton (click)="duplicateCategory(categoryIndex)"><nb-icon icon="copy-outline"></nb-icon></button>
                        <button nbButton (click)="deleteCategory(categoryIndex)"><nb-icon icon="trash-2-outline"></nb-icon></button>
                        <button nbButton *ngIf="!category.controls['enabled'].value" (click)="changeCategoryVisibility(categoryIndex)"><nb-icon icon="eye-off-outline"></nb-icon></button>
                        <button nbButton *ngIf="category.controls['enabled'].value" (click)="changeCategoryVisibility(categoryIndex)"><nb-icon icon="eye-outline"></nb-icon></button>
                    </div>
                    <div formArrayName="items" class="grid grid-gap-4">
                        <div *ngFor="let categoryItem of category.get('items')['controls']; let itemIndex = index" [formGroupName]="itemIndex" class="grid grid-colums-2-10 grid-gap-4">
                            <div>
                                <img class="w100" [src]="categoryItem.get('image').value || itemImagePlaceholder">
                            </div>
                            <div class="grid grid-gap-1">
                                <div class="grid grid-columns-10-1-1-1 grid-gap-1">
                                    <input nbInput type="text" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.FOOD.NAME' | translate" formControlName="name">
                                    <!-- TODO: autocomplete -->
                                    <button nbButton (click)="duplicateItem(categoryIndex, itemIndex)"><nb-icon icon="copy-outline"></nb-icon></button>
                                    <button nbButton (click)="deleteItem(categoryIndex, itemIndex)"><nb-icon icon="trash-2-outline"></nb-icon></button>
                                    <button nbButton *ngIf="!categoryItem.controls['enabled'].value" (click)="changeItemVisibility(categoryIndex, itemIndex)"><nb-icon icon="eye-off-outline"></nb-icon></button>
                                    <button nbButton *ngIf="categoryItem.controls['enabled'].value" (click)="changeItemVisibility(categoryIndex, itemIndex)"><nb-icon icon="eye-outline"></nb-icon></button>
                                </div>
                                <textarea nbInput type="text" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.FOOD.DESCRIPTION' | translate" formControlName="description"></textarea>
                                <div class="grid grid-columns-50-50 grid-space-between">
                                    <nb-select multiple [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.FOOD.ALERGENS' | translate" formControlName="alergens">
                                        <nb-option *ngFor="let alergen of alergens" [value]="alergen">{{alergen}}</nb-option>
                                    </nb-select>
                                    <nb-form-field class="grid-justify-self-end">
                                        <input nbInput type="text"  class="w100" [placeholder]="'COMPANY.RESTAURANT.MENU_BUILDER.FORM.FOOD.PRICE' | translate" formControlName="price">
                                        <span nbSuffix ghost >CZK</span>
                                    </nb-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button nbButton (click)="createItem(categoryIndex)"><nb-icon icon="plus-outline"></nb-icon></button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>