@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
datatable-header.datatable-header,
datatable-body-cell.datatable-body-cell,
datatable-body-row.datatable-body-row {
  height: unset !important;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.grid-columns-50-50 {
  grid-template-columns: 1fr 1fr;
}

.grid-colums-1-3 {
  grid-template-columns: 1fr 3fr;
}

.grid-colums-11-1 {
  grid-template-columns: 11fr 1fr;
}

.grid-colums-2-10 {
  grid-template-columns: 2fr 10fr;
}

.grid-columns-10-1-1-1 {
  grid-template-columns: 10fr 1fr 1fr 1fr;
}

.grid-columns-auto-auto {
  grid-template-columns: auto auto;
}

.grid-span-2-cols {
  grid-column-end: span 2;
}

.grid-col-gap-1 {
  column-gap: 1rem;
}

.grid-row-gap-1 {
  row-gap: 1rem;
}

.grid-gap-1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

.grid-gap-2 {
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid-gap-4 {
  column-gap: 4rem;
  row-gap: 4rem;
}

.grid-gap-8 {
  column-gap: 8rem;
  row-gap: 8rem;
}

.grid-align-items-start {
  align-items: start;
}
.grid-stretch {
  justify-self: stretch;
}
.grid-space-between {
  justify-content: space-between;
}
.grid-justify-self-end {
  justify-self: end;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w100 {
  width: 100%;
  max-width: 100% !important;
}

.sticky {
  position: sticky;
}

.top-7 {
  top: 7rem;
}
