<nb-card>
    <nb-card-header>
        {{ "DIALOG.WARNING.RESTAURANT_EXISTS.HEADER" | translate }}
    </nb-card-header>
    <nb-card-body class="grid">
        {{ "DIALOG.WARNING.RESTAURANT_EXISTS.BODY" | translate }}
        <div class="grid grid-columns-50-50 grid-gap-1 my-1">
            <button nbButton (click)="createNew()">{{ "DIALOG.WARNING.RESTAURANT_EXISTS.CREATE_NEW" | translate }}</button>
            <button nbButton (click)="continueToExisting()">{{ "DIALOG.WARNING.RESTAURANT_EXISTS.CONTINUE_TO_EXISTING" | translate }}</button>
        </div>
    </nb-card-body>
</nb-card>