<h1 class="text-center col-12 my-4">{{"COMPANY.RESTAURANT.SETTINGS"|translate}}</h1>
<nb-card>
    <nb-card-body>
        <div class="p-2">
            <nb-tabset>
                <nb-tab [tabTitle]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION' | translate">
                    <h2>{{"COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION"|translate}}</h2>
                    <form class="grid grid-columns-50-50 grid-gap-1" [formGroup]="contactInfo">
                        <div class="grid-span-2-cols">
                            <nb-toggle formControlName="visible">{{"COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.VISIBLE"|translate}}</nb-toggle>
                        </div>
                        <input nbInput class="w100" type="text" formControlName="restaurantName" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.RESTAURANT_NAME'|translate">
                        <input nbInput class="w100" type="text" formControlName="street" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.STREET'|translate">
                        <input nbInput class="w100" type="text" formControlName="zip" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.ZIP_CODE'|translate">
                        <input nbInput class="w100" type="text" formControlName="city" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.CITY'|translate">
                        <!-- <input #countryInput [nbAutocomplete]="countryComplete" (input)="countryChange()" nbInput class="w100" type="text" formControlName="country" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.COUNTRY'|translate"> -->
                        <app-auto-complete-input [options]="countryOptions" [formControl]="contactInfo.controls['country']" class="w100" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.COUNTRY'|translate"></app-auto-complete-input>
                        
                        <input nbInput class="w100" type="text" formControlName="note" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.RESTAURANT_INFORMATION.LABEL.NOTE'|translate">
                    </form>
                </nb-tab>
                <nb-tab [tabTitle]="'COMPANY.RESTAURANT.SETTINGS.OPENING_HOURS' | translate">
                    <h2>{{"COMPANY.RESTAURANT.SETTINGS.OPENING_HOURS"|translate}}</h2>
                    <form [formGroup]="openingHours">
                        <div *ngFor="let dayName of days" class="grid grid-columns-50-50 my-1">
                            <h3>{{valueMap.get(dayName).translationId | translate}}</h3>
                            <div>
                                <div class="grid grid-columns-50-50 grid-gap-1">
                                    <label [for]="'from'">{{'OPENING_HOURS.FROM' | translate}}</label>
                                    <label for="to">{{'OPENING_HOURS.TO' | translate}}</label>
                                </div>
                                <div class="grid grid-gap-1">
                                    <div *ngFor="let dayControl of valueMap.get(dayName).control.controls; index as i" class="grid grid-columns-50-50 grid-gap-1">
                                        <input nbInput type="time" class="w100" [formControl]="dayControl.controls.from" [placeholder]="'OPENING_HOURS.FROM' | translate">
                                        <input nbInput type="time" class="w100" [formControl]="dayControl.controls.to" [placeholder]="'OPENING_HOURS.TO' | translate">
                                    </div>
                                </div>
                                <button nbButton class="w100 my-1" (click)="addRange(dayName)">{{ "BUTTON.ADD_RANGE" | translate}}</button>
                            </div>
                        </div>
                        <textarea nbInput fullWidth formControlName="note" [placeholder]="'COMPANY.RESTAURANT.SETTINGS.OPENING_HOURS.LABEL.NOTE'|translate"></textarea>
                    </form>
                </nb-tab>
                <nb-tab [tabTitle]="'COMPANY.SETTINGS.LEGAL' | translate">
                    <h2>{{"COMPANY.SETTINGS.LEGAL"|translate}}</h2>
                    <form class="grid grid-columns-50-50 grid-gap-1" [formGroup]="legalInfo">
                        <input nbInput class="w100 grid-span-2-cols" type="text" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_NAME'|translate">
                        <input nbInput class="w100" type="text" formControlName="companyName" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_ADDRESS_STREET'|translate">
                        <input nbInput class="w100" type="text" formControlName="street" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_ADDRESS_ZIP'|translate">
                        <input nbInput class="w100" type="text" formControlName="zip" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_ADDRESS_CITY'|translate">
                        <input nbInput class="w100" type="text" formControlName="city" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_ADDRESS_COUNTRY'|translate">
                        <input nbInput class="w100" type="text" formControlName="entityNumber" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_LEGAL_ENTITY_NUMBER'|translate">
                        <input nbInput class="w100" type="text" formControlName="taxId" [placeholder]="'COMPANY.SETTINGS.LEGAL.COMPANY_TAX_ID'|translate">
                    </form>
                </nb-tab>
                <nb-tab [tabTitle]="'COMPANY.RESTAURANT.SETTINGS.PAYMENTS' | translate">
                    <h2>{{ "COMPANY.RESTAURANT.SETTINGS.PAYMENTS" | translate}}</h2>
                    <form class="grid grid-columns-50-50 grid-gap-1" [formGroup]="paymentsSettigns">
                        <nb-button-group multiple class="grid-span-2-cols">
                            <button nbButtonToggle [pressed]="checkPaymentMethod(button.value)" (pressedChange)="selectPaymentMethod(button.value, $event)" *ngFor="let button of buttons" [attr.disabled]="button.disabled ? 'disabled' : null" >{{'PAYMENT_TYPE.' + button.value | translate }}</button>
                        </nb-button-group>
                        <nb-card *ngIf="isCash">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.CASH" | translate }}</h3>
                                <textarea nbInput formControlName="cashNote" class="w100" [placeholder]="'CASH.NOTE' | translate"></textarea>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isCardOnline">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.CARD_ONLINE" | translate }}</h3>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isCardToCourier">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.CARD_COURIER" | translate }}</h3>
                                <textarea nbInput formControlName="cardCourierNote" class="w100" [placeholder]="'CARD_COURIER.NOTE' | translate"></textarea>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isBankTransfer">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.BANK_TRANSFER" | translate }}</h3>
                                <input nbInput type="text" formControlName="bankTransferAccount" class="w100" [placeholder]="'BANK_TRANSFER.ACCOUNT_NUMBER' | translate">
                                <textarea nbInput formControlName="bankTransferNote" class="w100" [placeholder]="'BANK_TRANSFER.NOTE' | translate"></textarea>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isMealVoucher">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.MEAL_VOUCHER" | translate }}</h3>
                                <textarea nbInput formControlName="mealVoucherNote" class="w100" [placeholder]="'MEAL_VOUCHER.NOTE' | translate"></textarea>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isBitcoin">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "PAYMENT_TYPE.BITCOIN" | translate }}</h3>
                            </nb-card-body>
                        </nb-card>
                    </form>
                    

                </nb-tab>
                <nb-tab [tabTitle]="'COMPANY.RESTAURANT.SETTINGS.DELIVERY' | translate">
                    <h2>{{"COMPANY.RESTAURANT.SETTINGS.DELIVERY"|translate}}</h2>
                    <form class="grid grid-columns-50-50 grid-gap-1" [formGroup]="deliverySettings">
                        <nb-button-group multiple class="grid-span-2-cols">
                            <button nbButtonToggle (pressedChange)="selectDeliveryMethod(button.value, $event)" *ngFor="let button of deliveryButtons" [attr.disabled]="button.disabled ? 'disabled' : null" >{{'DELIVERY_TYPE.' + button.value | translate }}</button>
                        </nb-button-group>
                        <nb-card *ngIf="isRestaurant">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "DELIVERY_TYPE.RESTAURANT" | translate }}</h3>
                                <input nbInput type="text" formControlName="restaurantMinimumAmount" class="w100" [placeholder]="'DELIVERY.RESTAURANT.MINIMUM_PRICE' | translate" disabled>
                                <input nbInput type="text" formControlName="restaurantFee" class="w100" [placeholder]="'DELIVERY.RESTAURANT.FEE' | translate" disabled>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isCourier">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "DELIVERY_TYPE.COURIER" | translate }}</h3>
                                <input nbInput type="text" formControlName="courierMinimumAmount" class="w100" [placeholder]="'DELIVERY.COURIER.MINIMUM_PRICE' | translate" disabled>
                                <input nbInput type="text" formControlName="courierFee" class="w100" [placeholder]="'DELIVERY.COURIER.FEE' | translate" disabled>
                                <input nbInput type="text" formControlName="courierArea" class="w100" [placeholder]="'DELIVERY.COURIER.AREA' | translate" disabled>
                                <textarea nbInput formControlName="courierNote" class="w100" [placeholder]="'NOTE_TO_CUSTOMERS' | translate" disabled></textarea>
                            </nb-card-body>
                        </nb-card>
                        <nb-card *ngIf="isPickupPoint">
                            <nb-card-body class="grid grid-gap-1">
                                <h3>{{ "DELIVERY_TYPE.PICKUP_POINT" | translate }}</h3>
                                <input nbInput type="text" formControlName="pickupPointMinimumAmount" class="w100" [placeholder]="'DELIVERY.PICKUP_POINT.MINIMUM_PRICE' | translate" disabled>
                                <input nbInput type="text" formControlName="pickupPointFee" class="w100" [placeholder]="'DELIVERY.PICKUP_POINT.FEE' | translate" disabled>
                            </nb-card-body>
                        </nb-card>
                    </form>
                </nb-tab>
            </nb-tabset>
        </div>
        <button nbButton class="w100" (click)="save()">Save</button>
    </nb-card-body>
</nb-card>